<!-- Row 1 --- 4 Cards -->
<div class="row">
  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות המשתמשים</div>
      <div class="count">2,145</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>from previous
        period</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">משתמשים מחוברים</div>
      <div class="count">{{counter}}</div>
      <small>11750</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
      class="info-card">
      <div class="title text-uppercase">רכישת קופונים מתחילת החודש</div>
      <div class="count">2,543</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'"
      class="info-card">
      <div class="title text-uppercase">ממוצע רכישת קופונים חודשי</div>
      <div class="count">1,005</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+24%</badge>
    </card>
  </div>
</div>
<!-- Row 2 --- Map & Bar Chart -->
<div class="row mb-lg-4">
  <!-- Map -->
  <div class="col-lg-6 map-col mb-4 mb-lg-0">
    <card [indents]="0" class="mb-0">
      <div class="map-box" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    </card>
  </div>
  <!-- Bar Chart -->
  <div class="col-lg-6">
    <card class="mb-lg-0">
      <canvas baseChart [chartType]="barChartType" [datasets]="barChartData" [labels]="barChartLabels"
        [options]="barChartOptions" [legend]="barChartLegend">
      </canvas>
    </card>
  </div>
</div>

<!-- Row 3 --- 4 Cards -->
<div class="row">
  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות חנויות</div>
      <div class="count">2,145</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>from previous
        period</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
      class="info-card">
      <div class="title text-uppercase">כמות חנויות פתוחות</div>
      <div class="count">{{counter}}</div>
      <small>11750</small>
    </card>
  </div>

  <div class="col-md-6 col-xl-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
      class="info-card">
      <div class="title text-uppercase">הכנסה ממוצעת לחנות</div>
      <div class="count">2,543</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge>
    </card>
  </div>
</div>

<!-- Row 4 --- 4 Cards -->
<div class="row">
  <div class="col-lg-6">
    <card title="הזמנות אחרונות">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>תמונת חנות</th>
              <th>שם חנות</th>
              <th>שם קופון</th>
              <th>מספר קופון</th>
              <th>תאריך רכישה</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>

  <div class="col-lg-6">
    <card title="משתמשים חדשים">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>תמונה</th>
              <th>שם פרטי</th>
              <th>שם משפחה</th>
              <th>מייל</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </card>
  </div>
</div>